@import "../../../data/assets/style/style_import";

.Item {
    background: $black-bg-light;

    .imageContainer {
        .itemImage {
            min-height: 200px;
            width: 100%;
        }
    }
}
