@import "../../data/assets/style/colors";
@import "../../data/assets/style/variables";

.sideNavbarContainer {
    .bm-burger-button {
        // position: absolute;
        top: 15px;
        left: 12px;
        height: 50px;
        width: 50px;

        .bm-icon {
            display: flex;
            color: $font-color-light;

            .material-icons {
                font-size: 45px;
            }
        }
    }

    .bm-menu-wrap {
        top: 0;
        left: 0;

        .bm-menu {
            background: $black-bg-dark;

            .bm-item-list {
                .sideBarContent {
                    height: 100%;
                    min-height: 100vh;

                    .menulist {
                        padding-top: 30px;

                        .menuItem {
                            font-size: 18px;
                            padding: 15px;
                            cursor: pointer;

                            &.active {
                                color: $primary;
                            }

                            &.subMenuItem {
                                padding: 5px;
                                padding-left: 30px;
                            }
                        }
                    }
                }
            }
        }

        .bm-cross-button {
            height: 24px;
            width: 24px;

            .bm-cross {
                background-color: $font-color-light;
                height: 16px !important;
            }
        }
    }
}
