@import "../../../data/assets/style/_colors.scss";

.emailFormContainer {
    .emailContainer {
        .ant-form-item-control-wrapper {
            width: 100% !important;

            .setInput {
                border-top-right-radius: 0px !important;
                border-bottom-right-radius: 0px !important;
                background-color: $black-bg-light !important;
                border-right-color: transparent !important;
            }
        }
    }

    .setButton {
        border-top-left-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
    }
}
