@font-face {
    font-family: 'Batman';
    font-style: normal;
    font-weight: 400;
    src: url("/data/assets/fonts/batman.ttf") format("truetype");
}

@font-face {
    font-family: 'German';
    font-style: normal;
    font-weight: 400;
    src: url("/data/assets/fonts/german.ttf") format("truetype");
}
