@import "../../data/assets/style/style_import";

.CartContainer {
    padding: 30px 0;

    .CartSection {
        width: 100%;
        min-height: 80vh;

        .sectionHeader {
            background: $black-bg-dark;
        }

        .sectionContent {
            background: $black-bg-light;
            overflow: auto;
            flex: 1;
        }

        .sectionFooter {
            background: $black-bg-dark;
        }
    }
}
