@import "../../data/assets/style/_style_import.scss";

.ProductList {
    .titleContainer {
        background-color: $black-bg-light;
        text-transform: capitalize;
    }

    .collapseContainer {
        background-color: $black-bg-light;

        .ant-collapse-item {
            border: none !important;
            margin-bottom: 3px;

            & > .ant-collapse-header {
                background-color: $black-bg-dark;
                color: $white !important;
                padding: 10px 5px 10px 32px !important;

                &:hover {
                    background-color: $black-bg-dark;
                }

                & > .arrow {
                    color: $white !important;
                    right: 16px !important;
                    left: inherit !important;
                }
            }

            .ant-collapse-content {
                padding: 0;
                background-color: $black-bg-light;
                border: none !important;

                .filterList {
                    margin: 0;
                    padding: 0;
                    width: 100%;

                    .filterItem {
                        padding: 5px 15px;
                        color: $grey-bg;
                        cursor: pointer;

                        &:hover, &.active {
                            color: $black-bg;
                            background: $primary;
                        }
                    }
                }
            }
        }
    }
}
