@import "../../../../data/assets/style/style_import";

.VehicleSelectorContainer {
    .selectContainer {
        margin-bottom: 10px;

        .ant-select {
            color: $white;

            .ant-select-selection {
                height: auto;
                padding: 5px 20px;
                background-color: $black-bg-dark;

                .ant-select-arrow {
                    color: $white;
                }

                &:hover {
                    border-color: $primary-bg;
                }
            }
        }

        .btn-fill-black {
            background-color: $black-bg-dark !important;
            height: auto;
            padding: 12px 20px;
        }
    }
}
