<!DOCTYPE html>
<html lang="en">
	<!--
		**NOTE:** This is a template for index.html. It uses ejs and htmlWebpackPlugin to generate a different index.html for each environment. htmlWebpackPlugin will dynamically add references to the scripts and styles that it bundles to this file. The generated bundles have hash-based filenames, so it's necessary to add the references dynamically.
		For more info on ejs, see http://www.embeddedjs.com/. For examples of using it with htmlWebpackPlugin, see https://github.com/jaketrent/html-webpack-template/blob/master/index.ejs
	-->
	<head>
		<!--
			The htmlWebpackPlugin will parse the logic below so that trackJS is only added to the production version of index.html (since only webpack.config.prod.js provides the trackJS token)
			This is an example of how to add features to index.html for only one environment.
			To track JavaScript errors via TrackJS, sign up for a free trial at TrackJS.com and enter your token in /webpack.config.prod.js on line 55.
		-->
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta charset="utf-8" />
		<title>Buy Number Plate online- ORBIZ - Number plate sellers</title>
		<meta name="description" content="Buy Number Plate online from India&#039;s Biggest Online Number Plate Store.We make number plates as per the requirements of the customers.We use different font designs and styles for your number plates. Moreover, we supply beautiful frames for your car and bike or any other vehicles"/><link rel="canonical" href="http://orbiz.in/" /><meta property="og:locale" content="en_US" /><meta property="og:type" content="website" /><meta property="og:title" content="Buy Number Plate online- ORBIZ - Number plate sellers" /><meta property="og:description" content="Buy Number Plate online from India&#039;s Biggest Online Number Plate Store.We make number plates as per the requirements of the customers.We use different font designs and styles for your number plates. Moreover, we supply beautiful frames for your car and bike or any other vehicles" /><meta property="og:url" content="http://orbiz.in/" /><meta property="og:site_name" content="Orbiz Automotivez" /><meta name="twitter:card" content="summary_large_image" /><meta name="twitter:description" content="Buy Number Plate online from India&#039;s Biggest Online Number Plate Store.We make number plates as per the requirements of the customers.We use different font designs and styles for your number plates. Moreover, we supply beautiful frames for your car and bike or any other vehicles" /><meta name="twitter:title" content="Buy Number Plate online- ORBIZ - Number plate sellers" /><meta name="twitter:site" content="@thenumberplates" /><meta name="twitter:creator" content="@thenumberplates" /> <script type='application/ld+json'>{"@context":"http:\/\/schema.org","@type":"WebSite","@id":"#website","url":"http:\/\/orbiz.in\/","name":"Orbiz Automotivez","potentialAction":{"@type":"SearchAction","target":"http:\/\/orbiz.in\/?s={search_term_string}","query-input":"required name=search_term_string"}}</script> <script type='application/ld+json'>{"@context":"http:\/\/schema.org","@type":"Organization","url":"http:\/\/orbiz.in\/","sameAs":["https:\/\/www.facebook.com\/thenumberplateshop\/","https:\/\/www.instagram.com\/orbizautomotivez\/","https:\/\/www.linkedin.com\/in\/orbiz-automotivez-218273152\/","https:\/\/www.youtube.com\/channel\/UCeq6R13dRFmNDmQSKSj9GCA","https:\/\/in.pinterest.com\/thenumberplateshop\/","https:\/\/twitter.com\/thenumberplates"],"@id":"#organization","name":"Orbiz Automotivez","logo":"http:\/\/orbiz.in\/wp-content\/uploads\/2017\/11\/a.png"}</script> <!-- / Yoast SEO plugin. --><link rel='dns-prefetch' href='//s0.wp.com' /><link rel='dns-prefetch' href='//s.gravatar.com' /><link rel='dns-prefetch' href='//fonts.googleapis.com' /><link rel='dns-prefetch' href='//s.w.org' /><link rel="alternate" type="application/rss+xml" title="Orbiz Automotivez &raquo; Feed" href="http://orbiz.in/feed/" /><link rel="alternate" type="application/rss+xml" title="Orbiz Automotivez &raquo; Comments Feed" href="http://orbiz.in/comments/feed/" />

		<!--remove bootstrap and font-awesome after removing all the dependencies..-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css" />

		<!-- fonts -->
		<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Poppins:300,400,600,700" rel="stylesheet"/>
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

		<!-- libraries -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" />
	</head>

	<body>
		<div id="app"></div>
	</body>

</html>
