@import "../../data/assets/style/style_import";

.ProductDetailsContainer {
    font-family: $font-family-primary;
    background-color: $black-bg-dark;
}

@media only screen and (max-width: 767px) {
    .modalStyle {
        max-width: 100vw !important;
        max-height: 100vh !important;
        height: 100vh !important;
        width: 100vw !important;
        position: absolute !important;
        padding: 0 !important;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        .ant-modal-content {
            height: 100% !important;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .ant-modal-close-x {
            display: none;
        }
    }
}

.modalStyle {
    max-width: 80vw;
    max-height: 90vh;
    width: auto !important;
    margin: 0 !important;

    .ant-modal-content {
        color: $font-dark;

        .ant-modal-header {
            text-align: center;
        }

        .ant-modal-body {
            padding: 0;
        }
    }

    .ant-modal-close-x {
        background: #eee;
        color: $font-dark;
        font-size: 12px !important;
    }
}

.vertical-center-modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.vertical-center-modal .ant-modal {
    top: 0;
}

