@import "../../data/assets/style/style_import";

.ItemsListContainer {
	.titleContainer {
		.filterContainer {
			.filterItem {
				&.active {
					color: $primary;
				}
			}

			&.mobile {
				display: none !important;
			}

			&.desktop {
				display: block !important;
			}
		}
	}

	.btn-fill-black {
		min-width: 100px;
		height: auto;
		padding: 10px 20px;
	}
}

.mobile {
	.ItemsListContainer {
		.titleContainer {
			.filterContainer{
				&.mobile {
					display: block !important;
				}

				&.desktop {
					display: none !important;
				}
			}
		}
	}
}
